/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:623 */
.fa-cc-diners-club:before {
    content: "\f24c" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:624 */
.fa-clone:before {
    content: "\f24d" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:625 */
.fa-balance-scale:before {
    content: "\f24e" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:626 */
.fa-hourglass-o:before {
    content: "\f250" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:627 */
.fa-hourglass-1:before,
.fa-hourglass-start:before {
    content: "\f251" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:629 */
.fa-hourglass-2:before,
.fa-hourglass-half:before {
    content: "\f252" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:631 */
.fa-hourglass-3:before,
.fa-hourglass-end:before {
    content: "\f253" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:633 */
.fa-hourglass:before {
    content: "\f254" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:634 */
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
    content: "\f255" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:636 */
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
    content: "\f256" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:638 */
.fa-hand-scissors-o:before {
    content: "\f257" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:639 */
.fa-hand-lizard-o:before {
    content: "\f258" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:640 */
.fa-hand-spock-o:before {
    content: "\f259" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:641 */
.fa-hand-pointer-o:before {
    content: "\f25a" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:642 */
.fa-hand-peace-o:before {
    content: "\f25b" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:643 */
.fa-trademark:before {
    content: "\f25c" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:644 */
.fa-registered:before {
    content: "\f25d" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:645 */
.fa-creative-commons:before {
    content: "\f25e" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:646 */
.fa-gg:before {
    content: "\f260" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:647 */
.fa-gg-circle:before {
    content: "\f261" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:648 */
.fa-tripadvisor:before {
    content: "\f262" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:649 */
.fa-odnoklassniki:before {
    content: "\f263" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:650 */
.fa-odnoklassniki-square:before {
    content: "\f264" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:651 */
.fa-get-pocket:before {
    content: "\f265" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:652 */
.fa-wikipedia-w:before {
    content: "\f266" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:653 */
.fa-safari:before {
    content: "\f267" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:654 */
.fa-chrome:before {
    content: "\f268" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:655 */
.fa-firefox:before {
    content: "\f269" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:656 */
.fa-opera:before {
    content: "\f26a" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:657 */
.fa-internet-explorer:before {
    content: "\f26b" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:658 */
.fa-tv:before,
.fa-television:before {
    content: "\f26c" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:660 */
.fa-contao:before {
    content: "\f26d" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:661 */
.fa-500px:before {
    content: "\f26e" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:662 */
.fa-amazon:before {
    content: "\f270" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:663 */
.fa-calendar-plus-o:before {
    content: "\f271" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:664 */
.fa-calendar-minus-o:before {
    content: "\f272" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:665 */
.fa-calendar-times-o:before {
    content: "\f273" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:666 */
.fa-calendar-check-o:before {
    content: "\f274" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:667 */
.fa-industry:before {
    content: "\f275" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:668 */
.fa-map-pin:before {
    content: "\f276" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:669 */
.fa-map-signs:before {
    content: "\f277" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:670 */
.fa-map-o:before {
    content: "\f278" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:671 */
.fa-map:before {
    content: "\f279" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:672 */
.fa-commenting:before {
    content: "\f27a" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:673 */
.fa-commenting-o:before {
    content: "\f27b" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:674 */
.fa-houzz:before {
    content: "\f27c" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:675 */
.fa-vimeo:before {
    content: "\f27d" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:676 */
.fa-black-tie:before {
    content: "\f27e" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/etc/_icons.scss:677 */
.fa-fonticons:before {
    content: "\f280" !important;
}
/* D:/Kaushik/Workspace/ext/packages/font-awesome/sass/src/all.scss:20 */
.x-fa:before {
    font-family: FontAwesome !important;
}